<link rel="stylesheet" type="text/css" href="/css/addRecords.css">
<div class="card card-body">
    <div>
        {{!-- <div class="card-body">
            <h1 class="font-weight-bold text-dark">Retrieve Patient's Particulars</h1>
        </div>

        <div class="card card-body">
            <div class="input-group">
                <input type="text" name="patientId" class="form-control"
                    placeholder="Enter patient ID to retrieve the particulars of that patient *" required />
                <span class="input-group-btn">
                    <a class="btn btn-info" href="/records/retrievePatient" role="button">Find <i class="fa fa-search"></i></a>
                </span>
            </div>
        </div> --}}

        <div class="card-body">
            <h1 class="font-weight-bold text-dark">Update Medical Records</h1>
        </div>

        <div class="card card-body">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <fieldset class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <legend class="font-weight-bold"><i class="fas fa-user"></i> Currently updating
                                    {{user.name}}'s Medical Records
                                </legend>
                            </div>
                        </div>

                        {{#if user}}
                        {{!-- {{#each users}} --}}
                        <div class="card col-sm-12 col-md-12 col-lg-12">
                            <div class="card-header col-sm-12 col-md-12 col-lg-12">
                                <h3 class="font-weight-bold">Patient ID/NRIC: <span class="font-italic text-info">{{user.patientID}}</span></h3>
                            </div>

                            <div class="card-body col-sm-12 col-md-12 col-lg-12">
                                <div class="row">
                                    <div class="col-sm-12 col-md-4 col-lg-3">
                                        <p class="card-text">Name: <p
                                                class="font-weight-bold text-primary">{{user.name}}</p></p>
                                    </div>

                                    <div class="col-sm-12 col-md-4 col-lg-3">
                                        <p class="card-text">Gender: <p
                                                class="font-weight-bold text-primary">{{user.gender}}</p></p>
                                    </div>

                                    <div class="col-sm-12 col-md-4 col-lg-3">
                                        <p class="card-text">Age: <p class="font-weight-bold text-primary">{{user.age}}</p></p>
                                    </div>

                                    <div class="col-sm-12 col-md-4 col-lg-3">
                                        <p class="card-text">Height(m): <p class="font-weight-bold text-primary">{{user.height}}</p></p>
                                    </div>

                                    <div class="col-sm-12 col-md-4 col-lg-3">
                                        <p class="card-text">Weight(kg): <p class="font-weight-bold text-primary">{{user.weight}}</p></p>
                                    </div>

                                    <div class="col-sm-12 col-md-4 col-lg-3">
                                        <p class="card-text">Date of birth: <p class="font-weight-bold text-primary">{{formatDate user.dateofbirth 'DD MMM YYYY'}}</p></p>
                                    </div>

                                    <div class="col-sm-12 col-md-4 col-lg-3">
                                        <p class="card-text">Blood type: <p class="font-weight-bold text-primary">{{user.bloodtype}}</p></p>
                                    </div>

                                    <div class="col-sm-12 col-md-4 col-lg-3">
                                        <p class="card-text">Mobile phone no: <p class="font-weight-bold text-primary">{{user.mobileNo}}</p></p>
                                    </div>

                                    <div class="col-sm-12 col-md-4 col-lg-3">
                                        <p class="card-text">House phone no: <p class="font-weight-bold text-primary">{{user.housephoneNo}}</p></p>
                                    </div>

                                    <div class="col-sm-12 col-md-4 col-lg-3">
                                        <p class="card-text">Drug allergy: <p class="font-weight-bold text-primary">{{replaceCommas user.drugallergy}}</p></p>
                                    </div>

                                    <div class="col-sm-12 col-md-4 col-lg-3">
                                        <p class="card-text">Major illness: <p class="font-weight-bold text-primary">{{replaceCommas user.majorillness}}</p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- {{/each}} --}}
                        {{/if}}

                        {{!-- <br>

                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <button class="btn btn-sm btn-success" type="submit" onclick="findPatient()">Next patient</a>
                            </div>
                        </div> --}}
                    </fieldset>
                </div>
            </div>
        </div>

        <br>
        <br>

        <div class="card card-body">
            <div class="row">
                <form action="/records/saveUpdatedRecords/{{record.id}}?_method=PUT" method="post" id="enterRecords">
                    <input type="hidden" name="_method" value="PUT" />
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <legend class="font-weight-bold"><i class="fa fa-pencil-square-o"></i> Patient's Medical
                                    Records</legend>
                            </div>
                        </div>

                        <div class="card card-body border-primary">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <label for="patientid" id="title" class="font-weight-bold"><i
                                            class="fa fa-user"></i> Patient name:</label>

                                    <div class="form-group">
                                        <input type="text" class="form-control" value="{{record.patientName}}" name="patientName" readonly />
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <label for="patientid" id="title" class="font-weight-bold"><i
                                            class="fa fa-id-card"></i> Patient ID number:</label>

                                    <div class="form-group">
                                        <input type="text" class="form-control" value="{{record.patientID}}"
                                            name="patientID" readonly />
                                    </div>
                                </div>
                            </div>

                            <br>

                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label id="title" class="font-weight-bold" for="medicalrecords"><i
                                                class="fas fa-book-medical"></i> Medicine prescribed to {{user.name}}(Required):</label>
                                        <textarea class="col-sm-12 col-md-12 col-lg-12 form-control" id="medicalrecords"
                                            name="medicalrecords" rows="8" cols="160" placeholder="Eg. "
                                            required>{{record.records}}</textarea>
                                    </div>

                                    <p class="font-weight-bold text-danger" id="recordsErr" style="display:none">Please
                                        enter Medical Records of this patient</p>

                                    <div class="form-group">
                                        <label id="title" class="font-weight-bold" for="information"><i
                                                class="fa fa-info-circle"></i> Other information(Optional):</label>
                                        <textarea class="col-sm-12 col-md-12 col-lg-12 form-control" id="information"
                                            name="information" rows="7" cols="160"
                                            placeholder="Eg.">{{record.information}}</textarea>
                                    </div>
                                </div>
                            </div>

                            {{!-- <br>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label id="title" class="font-weight-bold" for="information"><i
                                                class="fa fa-info-circle"></i> Other information(Optional):</label>
                                        <textarea class="col-sm-5 col-md-6 col-lg-12 form-control" id="information"
                                            name="information" rows="7" cols="160" placeholder="Eg."></textarea>
                                    </div>
                                </div>
                            </div> --}}
                        </div>
                    </fieldset>
                    <br>
                    <button type="submit" id="butSaveRecord" class="btn btn-primary">Save</button>
                    <a href="/records/listRecords" role="button" class="btn btn-secondary">Back to list records page</a>
                </form>
            </div>
        </div>
    </div>
</div>