<link rel="stylesheet" type="text/css" href="/css/addRecords.css">
<div class="container">
    <div>
        {{!-- <div class="card-body">
            <h1 class="font-weight-bold text-dark">Retrieve Patient's Particulars</h1>
        </div>

        <div class="card card-body">
            <div class="input-group">
                <input type="text" name="patientId" class="form-control"
                    placeholder="Enter patient ID to retrieve the particulars of that patient *" required />
                <span class="input-group-btn">
                    <a class="btn btn-info" href="/records/retrievePatient" role="button">Find <i class="fa fa-search"></i></a>
                </span>
            </div>
        </div> --}}

        <div class="card-body">
            <h1 class="font-weight-bold text-dark">Update Medical Records</h1>
        </div>

        <div class="card card-body">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <fieldset class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <legend class="font-weight-bold"><i class="fas fa-user"></i> Currently updating
                                    {{user.name}}'s Medical Records
                                </legend>
                            </div>
                        </div>

                        {{#if user}}
                        {{!-- {{#each users}} --}}
                        <div class="card col-sm-12 col-md-12 col-lg-12">
                            <div class="card-header col-sm-12 col-md-12 col-lg-12">
                                <h3 class="font-weight-bold">Patient ID/NRIC: <span class="font-italic">{{user.patientID}}</span></h3>
                            </div>

                            <div class="card-body col-sm-12 col-md-12 col-lg-12">
                                <div class="row">
                                    <div class="col-sm-12 col-md-4 col-lg-3">
                                        <p class="card-text">Name: <p
                                                class="font-weight-bold text-primary">{{user.name}}</p></p>
                                    </div>

                                    <div class="col-sm-12 col-md-4 col-lg-3">
                                        <p class="card-text">Gender: <p
                                                class="font-weight-bold text-primary">{{user.gender}}</p></p>
                                    </div>

                                    <div class="col-sm-12 col-md-4 col-lg-3">
                                        <p class="card-text">Age: <p class="font-weight-bold text-primary">{{user.age}}</p></p>
                                    </div>

                                    <div class="col-sm-12 col-md-4 col-lg-3">
                                        <p class="card-text">Height(m): <p class="font-weight-bold text-primary">{{user.height}}</p></p>
                                    </div>

                                    <div class="col-sm-12 col-md-4 col-lg-3">
                                        <p class="card-text">Weight(kg): <p class="font-weight-bold text-primary">{{user.weight}}</p></p>
                                    </div>

                                    <div class="col-sm-12 col-md-4 col-lg-3">
                                        <p class="card-text">Date of birth: <p class="font-weight-bold text-primary">{{formatDate user.dateofbirth 'DD MMM YYYY'}}</p></p>
                                    </div>

                                    <div class="col-sm-12 col-md-4 col-lg-3">
                                        <p class="card-text">Blood type: <p class="font-weight-bold text-primary">{{user.bloodtype}}</p></p>
                                    </div>

                                    <div class="col-sm-12 col-md-4 col-lg-3">
                                        <p class="card-text">Mobile phone no: <p class="font-weight-bold text-primary">{{user.mobileNo}}</p></p>
                                    </div>

                                    <div class="col-sm-12 col-md-4 col-lg-3">
                                        <p class="card-text">House phone no: <p class="font-weight-bold text-primary">{{user.housephoneNo}}</p></p>
                                    </div>

                                    <div class="col-sm-12 col-md-4 col-lg-3">
                                        <p class="card-text">Drug allergy: <p class="font-weight-bold text-primary">{{replaceCommas user.drugallergy}}</p></p>
                                    </div>

                                    <div class="col-sm-12 col-md-4 col-lg-3">
                                        <p class="card-text">Major illness: <p class="font-weight-bold text-primary">{{replaceCommas user.majorillness}}</p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- {{/each}} --}}
                        {{/if}}

                        {{!-- <div class="card-body">
                            
                            <div class="card col-sm-12 col-md-12 col-lg-12 bg-primary">
                                <div class="card-body">
                                    <h4 class="card-title">Patient ID/NRIC: <span
                                            class="text-dark font-weight-bold">{{patientID}}</span>
                                    </h4>
                                    
                                    <div class="row">
                                        <p class="card-content col-sm-12 col-md-6 col-lg-6">Name: <span
                                                class="text-dark font-weight-bold">{{name}}</span>
                                        </p>

                                        <p class="card-content col-sm-12 col-md-6 col-lg-6">Gender: <span
                                                class="text-dark font-weight-bold">{{gender}}</span>
                                        </p>

                                        <p class="card-content col-sm-12 col-md-6 col-lg-6">Age: <span
                                                class="text-dark font-weight-bold">{{age}}</span>
                                        </p>

                                        <p class="card-content col-sm-12 col-md-6 col-lg-6">Height(m): <span
                                                class="text-dark font-weight-bold">{{height}}</span>
                                        </p>

                                        <p class="card-content col-sm-12 col-md-6 col-lg-6">Weight(kg): <span
                                                class="text-dark font-weight-bold">{{weight}}</span>
                                        </p>

                                        <p class="card-content col-sm-12 col-md-6 col-lg-6">Date of birth: <span
                                                class="text-dark font-weight-bold">{{formatDate dateofbirth 'DD MMMM YYYY'}}</span>
                                        </p>

                                        <p class="card-content col-sm-12 col-md-6 col-lg-6">Blood type: <span
                                                class="text-dark font-weight-bold">{{bloodtype}}</span>
                                        </p>

                                        <p class="card-content col-sm-12 col-md-6 col-lg-6">Mobile phone no: <span 
                                            class="text-dark font-weight-bold">{{mobileNo}}</span>
                                        </p>

                                        <p class="card-content col-sm-12 col-md-6 col-lg-6">House phone no: <span 
                                            class="text-dark font-weight-bold">{{housephoneNo}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                                {{!-- <div class="row">
                                    <div class="card-body col-sm-12 col-md-12 col-lg-12">
                                        <h3 class="font-italic">Patient ID/NRIC: <span class="text-dark font-weight-bold">{{user.patientID}}</span></h3>
                                    </div>
                                </div>

                                <div class="card card-body border border-primary">
                                    <div class="row">
                                        <div class="col-sm-4 col-md-4 col-lg-3">
                                            <p class="font-italic">Name:</p>
                                            <p class="text-info font-weight-bold">{{user.name}}</p>
                                        </div>

                                        <div class="col-sm-4 col-md-4 col-lg-3">
                                            <p class="font-italic">Gender:</p>
                                            <p class="text-info font-weight-bold">{{user.gender}}</p>
                                        </div>

                                        <div class="col-sm-4 col-md-4 col-lg-3">
                                            <p class="font-italic">Age:</p>
                                            <p id="age" class="text-info font-weight-bold">{{user.age}}</p>
                                        </div>

                                        <div class="col-sm-4 col-md-4 col-lg-3">
                                            <p class="font-italic">Height(m):</p>
                                            <p class="text-info font-weight-bold">{{user.height}}</p>
                                        </div>

                                        <div class="col-sm-4 col-md-4 col-lg-3">
                                            <p class="font-italic">Weight(kg):</p>
                                            <p class="text-info font-weight-bold">{{user.weight}}</p>
                                        </div>

                                        <div class="col-sm-4 col-md-4 col-lg-3">
                                            <p class="font-italic">Date of birth:</p>
                                            <p class="text-info font-weight-bold">{{formatDate user.dateofbirth 'DD MMMM YYYY'}}
                                            </p>
                                        </div>

                                        <div class="col-sm-4 col-md-4 col-lg-3">
                                            <p class="font-italic">Blood type:</p>
                                            <p class="text-info font-weight-bold">{{user.bloodtype}}</p>
                                        </div>

                                        <div class="col-sm-4 col-md-4 col-lg-3">
                                            <p class="font-italic">Mobile phone no:</p>
                                            <p class="text-info font-weight-bold">{{user.mobileNo}}</p>
                                        </div>

                                        <div class="col-sm-4 col-md-4 col-lg-3">
                                            <p class="font-italic">House phone no:</p>
                                            <p class="text-info font-weight-bold">{{user.housephoneNo}}</p>
                                        </div>

                                        <div class="col-sm-4 col-md-4 col-lg-3">
                                            <p class="font-italic">Drug allergy:</p>
                                            <p class="text-info font-weight-bold">{{replaceCommas user.drugallergy}}</p>
                                        </div>

                                        <div class="col-sm-4 col-md-4 col-lg-3">
                                            <p class="font-italic">Major illness:</p>
                                            <p class="text-info font-weight-bold">{{replaceCommas user.majorillness}}</p>
                                        </div>
                                    </div>
                                </div> 
                            
                        </div> --}}


                        {{!-- <br>

                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <button class="btn btn-sm btn-success" type="submit" onclick="findPatient()">Next patient</a>
                            </div>
                        </div> --}}
                    </fieldset>
                </div>
            </div>
        </div>

        <br>
        <br>

        <div class="card card-body">
            <div class="row">
                <form action="/records/saveUpdatedRecords/{{record.id}}?_method=PUT" method="post" id="enterRecords">
                    <input type="hidden" name="_method" value="PUT" />
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <legend class="font-weight-bold"><i class="fa fa-pencil-square-o"></i> Patient's Medical
                                    Records</legend>
                            </div>
                        </div>

                        <div class="card card-body border-primary">
                            {{!-- <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label id="title" class="font-weight-bold" for="patientid"><i
                                                class="fa fa-search"></i> Enter the Patient ID no. you are going to
                                            enter Medical Records for(Required):</label>
                                        <input type="text" name="patientid" class="form-control"
                                            placeholder="Enter patient ID to retrieve the particulars of that patient *"
                                            required />

                                        <div class="valid-feedback"><i class="fa fa-check-circle"></i> Patient ID number
                                            is valid</div>
                                        <div class="invalid-feedback"><i class="fas fa-exclamation-circle"></i> Please
                                            enter a patient ID number
                                        </div>
                                    </div>
                                </div>
                            </div> --}}

                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="patientid" id="title" class="font-weight-bold"><i
                                            class="fa fa-id-card"></i> Patient ID number:</label>
                                    {{!-- <input type="text" name="patientID" id="patientid" class="form-control"
                                        value="{{user.patientID}}" readonly /> --}}

                                    <div class="form-group">
                                        {{!-- <select class="form-control" name="patientID" required>
                                            {{#each users}}
                                                <option value="{{patientID}}">{{patientID}}</option>
                                            {{/each}}
                                        </select> --}}

                                        <input type="text" class="form-control" value="{{record.patientID}}"
                                            name="patientID" readonly />
                                    </div>
                                </div>
                            </div>

                            <br>

                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label id="title" class="font-weight-bold" for="medicalrecords"><i
                                                class="fas fa-book-medical"></i> Medical Record(Required):</label>
                                        <textarea class="col-sm-12 col-md-12 col-lg-12 form-control" id="medicalrecords"
                                            name="medicalrecords" rows="8" cols="160" placeholder="Eg. "
                                            required>{{record.records}}</textarea>
                                    </div>

                                    <p class="font-weight-bold text-danger" id="recordsErr" style="display:none">Please
                                        enter Medical Records of this patient</p>

                                    <div class="form-group">
                                        <label id="title" class="font-weight-bold" for="information"><i
                                                class="fa fa-info-circle"></i> Other information(Optional):</label>
                                        <textarea class="col-sm-12 col-md-12 col-lg-12 form-control" id="information"
                                            name="information" rows="7" cols="160"
                                            placeholder="Eg.">{{record.information}}</textarea>
                                    </div>
                                </div>
                            </div>

                            {{!-- <br>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label id="title" class="font-weight-bold" for="information"><i
                                                class="fa fa-info-circle"></i> Other information(Optional):</label>
                                        <textarea class="col-sm-5 col-md-6 col-lg-12 form-control" id="information"
                                            name="information" rows="7" cols="160" placeholder="Eg."></textarea>
                                    </div>
                                </div>
                            </div> --}}
                        </div>
                    </fieldset>
                    <br>
                    <button type="submit" id="butSaveRecord" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>