<style>
    fieldset {
        display: block;
        margin-left: 2px;
        margin-right: 2px;
        padding-top: 0.35em;
        padding-bottom: 0.625em;
        padding-left: 0.75em;
        padding-right: 0.75em;
        border: 2px groove;
        border-radius: 10px;
    }

    #title {
        font-size: 22px;
    }
</style>
<div class="container">
    <div>
        <div class="card-body">
            <h1 class="font-weight-bold text-dark">Add Medical Records</h1>
        </div>

        <div class="card card-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="input-group">
                        {{!-- <input type="text" name="patientid" class="form-control"
                            placeholder="Enter the patient ID to retrieve the particulars of that user *" /> --}}
                        
                        <input type="text" name="patientid" class="form-control" placeholder="Enter the patient ID to retrieve the particulars of the patient *" />
                        <span class="input-group-btn">
                            <a href="#" class="btn btn-info" role="button">Find <i class="fa fa-search"></i></a>
                        </span>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-sm-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <legend class="font-weight-bold"><i class="fas fa-user"></i> Patient's Particulars</legend>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-3">
                                <p class="font-italic">Name:</p>
                                <p class="text-info font-weight-bold">{{name}}</p>
                            </div>

                            <div class="col-sm-12 col-md-12 col-lg-3">
                                <p class="font-italic">Age:</p>
                                <p class="text-info font-weight-bold">{{age}}</p>
                            </div>

                            <div class="col-sm-12 col-md-12 col-lg-3">
                                <p class="font-italic">Height:</p>
                                <p class="text-info font-weight-bold">{{height}}</p>
                            </div>

                            <div class="col-sm-12 col-md-12 col-lg-3">
                                <p class="font-italic">Weight:</p>
                                <p class="text-info font-weight-bold">{{weight}}</p>
                            </div>

                            <div class="col-sm-12 col-md-12 col-lg-3">
                                <p class="font-italic">Blood type:</p>
                                <p class="text-info font-weight-bold">{{bloodtype}}</p>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

        <br>
        <br>

        <div class="card card-body">
            <div class="row">
                <form action="" method="post" id="enterRecords" class="was-validated">
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <legend class="font-weight-bold">Patient's Medical Records</legend>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label id="title" class="font-weight-bold" for="medicalrecords"><i
                                            class="fas fa-book-medical"></i> Medical Record(Required):</label>
                                    <textarea class="col-sm-12 col-md-12 col-lg-12 form-control" id="medicalrecords"
                                        name="medicalrecords" rows="8" cols="160" placeholder="Eg. "
                                        required></textarea>
                                        
                                    <div class="valid-feedback"><i class="fa fa-check-circle"></i> Medical records are
                                        valid</div>
                                    <div class="invalid-feedback"><i class="fas fa-exclamation-circle"></i> Please enter
                                        medical records of patient</div>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label id="title" class="font-weight-bold" for="information"><i
                                            class="fa fa-info-circle"></i> Other information(Optional):</label>
                                    <textarea class="col-sm-12 col-md-12 col-lg-12 form-control" id="information"
                                        name="information" rows="7" cols="160" placeholder="Eg."></textarea>
                                    <div class="valid-feedback"><i class="fa fa-check-circle"></i> Optional to enter
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <br>
                    <button type="submit" class="btn btn-primary" action="/records/listRecords">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>