<link rel="stylesheet" type="text/css" href="/css/logReg.css">
<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script>
    $(function() {
        $('#datepicker').datepicker({
            dateFormat: 'dd/mm/yy'
        });
    });
    
</script>

<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
            <h3>Welcome to Selfcare! It is time to keep yourself inform of your own health</h3>
            {{!-- <input type="submit" name="" value="Login" /><br /> --}}
        </div>
        <div class="col-md-9 register-right">
            {{!-- <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist" style="width:23%;">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                        aria-controls="home" aria-selected="true">Patient</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                        aria-controls="profile" aria-selected="false">Doctor</a>
                </li>

                <li class="nav-item">
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="occupation" id="defaultChecked" checked>
                        <label for="defaultChecked" class="custom-control-label">Patient</label>
                    </div>
                </li>

                <li class="nav-item">
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="occupation" id="defaultUnchecked">
                        <label for="defaultUnchecked" class="custom-control-label">Doctor</label>
                    </div>
                </li>
            </ul> --}}

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <form method="post" action="/user/register" class="was-validated">
                        <h3 class="register-heading">Patient/Doctor</h3>
                        <div class="row register-form">

                            <div class="col-md-6">
                                <div class="form-group">

                                    <textarea type="text" class="form-control" placeholder="Drug allergy(If any) *"
                                        name="drugallergy" rows="9" cols="55" value="{{drugallergy}}"></textarea>

                                    <div class="valid-feedback"><i class="fa fa-check-circle"></i> Optional to enter
                                    </div>
                                </div>

                                <div class="form-group">

                                    <input type="text" class="form-control" placeholder="Full Name *" name="name" autocomplete="off"
                                        value="{{name}}" required />
                                    <div class="valid-feedback"><i class="fa fa-check-circle"></i> Valid name</div>
                                    <div class="invalid-feedback"><i class="fas fa-exclamation-circle"></i> This field
                                        is required</div>
                                </div>

                                <div class="form-group">

                                    <select class="form-control" name="occupation" value="{{occupation}}" required>
                                        <option style="display:none" disabled selected value>--- Select your occupation
                                            ---</option>
                                        <option value="Patient">Patient</option>
                                        <option value="Doctor">Doctor</option>
                                    </select>

                                    <div class="valid-feedback"><i class="fa fa-check-circle"></i> Valid occupation
                                    </div>
                                    <div class="invalid-feedback"><i class="fas fa-exclamation-circle"></i> Please
                                        select your occupation</div>

                                </div>

                                <div class="form-group">

                                    <select class="form-control" name="gender" value="{{gender}}" required>
                                        <option style="display:none" disabled selected value>--- Select your gender ---
                                        </option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>

                                    <div class="valid-feedback"><i class="fa fa-check-circle"></i> Valid gender</div>
                                    <div class="invalid-feedback"><i class="fas fa-exclamation-circle"></i> Please
                                        select your gender</div>
                                </div>

                                <div class="form-group">

                                    <input type="text" class="form-control" value="{{mobileNo}}" name="mobileNo" autocomplete="off"
                                        placeholder="Mobile Phone Number *" required />
                                    <div class="valid-feedback"><i class="fa fa-check-circle"></i> Valid phone number
                                    </div>
                                    <div class="invalid-feedback"><i class="fa fa-exclamation-circle"></i> Invalid phone
                                        number</div>
                                </div>

                                <div class="form-group">

                                    <input type="text" class="form-control" placeholder="Weight *" value="{{weight}}" name="weight" autocomplete="off"
                                        required />

                                    <div class="valid-feedback"><i class="fa fa-check-circle"></i> Valid weight</div>
                                    <div class="invalid-feedback"><i class="fas fa-exclamation-circle"></i> This field
                                        is required</div>
                                </div>

                                <div class="form-group">

                                    <input type="number" min="1" max="100" class="form-control" placeholder="Age *" autocomplete="off"
                                        name="age" value="{{age}}" required />
                                    
                                    <div class="valid-feedback"><i class="fa fa-check-circle"></i> Valid age</div>
                                    <div class="invalid-feedback"><i class="fas fa-exclamation-circle"></i> This field
                                        is required</div>
                                </div>

                                <div class="form-group">

                                    <input type="password" class="form-control" placeholder="Password *" name="password"
                                        value="" required />
                                    <div class="valid-feedback"><i class="fa fa-check-circle"></i> Valid password</div>
                                    <div class="invalid-feedback"><i class="fas fa-exclamation-circle"></i> This field
                                        is required</div>
                                </div>

                                <p class="message">Already have an account click? <a class="text-primary" id="loginlink"
                                        href="/displaylogin">here</a> to log in</p>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">

                                    <textarea type="text" class="form-control" placeholder="Major illness(If any) *"
                                        name="majorillness" value="{{majorillness}}" rows="9" cols="55"></textarea>

                                    <div class="valid-feedback"><i class="fa fa-check-circle"></i> Optional to enter
                                    </div>
                                </div>

                                <div class="form-group">

                                    <input type="text" class="form-control" placeholder="NRIC no. *" name="nric" autocomplete="off"
                                        value="{{nric}}" required />
                                    
                                    <div class="valid-feedback"><i class="fa fa-check-circle"></i> Valid NRIC</div>
                                    <div class="invalid-feedback"><i class="fas fa-exclamation-circle"></i> This field
                                        is required</div>
                                </div>

                                <div class="form-group">

                                    {{!-- <input id="datepicker" type="text" class="form-control" name="dateofbirth"
                                        placeholder="Date of birth *" required /> --}}
                                    
                                    {{!-- <input class="datepicker form-control" placeholder="Date of birth *" name="dateofbirth" data-date-format="mm/dd/yyyy" required /> --}}

                                    <input type="text" id="datepicker" class="form-control" name="dateofbirth" value="{{formatDate dateofbirth 'DD/MM/YYYY'}}" placeholder="Date of birth(MM/DD/YYYY) *" autocomplete="off" required />

                                    {{!-- <input type="text" class="form-control" id="datepicker" data-type="datepicker" placeholder="Date of birth *" required /> --}}

                                    {{!-- <input type="text" id="datepicker" class="form-control" /> --}}

                                    <div class="valid-feedback"><i class="fa fa-check-circle"></i> Valid date of birth</div>
                                    <div class="invalid-feedback"><i class="fas fa-exclamation-circle"></i> Invalid date
                                        of birth</div>
                                </div>

                                <div class="form-group">

                                    <input type="email" class="form-control" placeholder="Email *" name="email" value="{{email}}" autocomplete="off"
                                        required />

                                    <div class="valid-feedback"><i class="fa fa-check-circle"></i> Valid email</div>
                                    <div class="invalid-feedback"><i class="fas fa-exclamation-circle"></i> An email
                                        must contain '@' and '.com'</div>
                                </div>

                                <div class="form-group">

                                    <input type="text" class="form-control" name="housephoneNo" autocomplete="off"
                                        value="{{housephoneNo}}" placeholder="House Phone Number *" required />

                                    <div class="valid-feedback"><i class="fa fa-check-circle"></i> Valid phone number
                                    </div>
                                    <div class="invalid-feedback"><i class="fa fa-exclamation-circle"></i> Invalid phone
                                        number</div>
                                </div>

                                <div class="form-group">

                                    <input type="text" class="form-control" placeholder="Height *" value="{{height}}" name="height" autocomplete="off"
                                        required />

                                    <div class="valid-feedback"><i class="fa fa-check-circle"></i> Valid height</div>
                                    <div class="invalid-feedback"><i class="fas fa-exclamation-circle"></i> This field
                                        is required</div>
                                </div>

                                <div class="form-group">

                                    {{!-- <input type="text" class="form-control" placeholder="Blood type *" value="{{bloodtype}}" name="bloodtype" autocomplete="off"
                                        required /> --}}

                                    <select class="form-control" name="bloodtype" value="{{bloodtype}}" required>
                                        <option style="display:none" disabled selected value>--- Select your blood type ---</option>
                                        <option value="O">O</option>
                                        <option value="A">A</option>
                                        <option value="B">B</option>
                                        <option value="AB">AB</option>
                                    </select>

                                    <div class="valid-feedback"><i class="fa fa-check-circle"></i> Valid blood type
                                    </div>
                                    <div class="invalid-feedback"><i class="fas fa-exclamation-circle"></i> This field
                                        is required</div>
                                </div>

                                <div class="form-group">

                                    <input type="password" class="form-control" placeholder="Confirm Password *"
                                        name="password2" style="margin-bottom:4px;" value="" required />
                                    
                                    <div class="valid-feedback"><i class="fa fa-check-circle"></i> Valid password</div>
                                    <div class="invalid-feedback"><i class="fas fa-exclamation-circle"></i> This field
                                        is required</div>
                                </div>

                                {{!-- <div class="form-group"> --}}
                                <input type="submit" class="btnRegister" value="Register" style="margin-top:20px;" />
                                {{!-- </div> --}}
                            </div>
                    </form>
                </div>
            </div>
            {{!-- <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <form method="post" action="/user/register">
                    <h3 class="register-heading">Doctor</h3>
                    <div class="row register-form">
                        <div class="col-md-6">
                            <label for="name"></label>
                            <input type="text" class="form-control" placeholder="Full Name *" name="name" value="" />

                            <label for="nric"></label>
                            <input type="text" class="form-control" placeholder="NRIC no. *" name="nric" value="" />

                            <label for="email"></label>
                            <input type="email" class="form-control" placeholder="Email *" name="email" value=""
                                style="margin-bottom:4px;" />

                            <p class="message">Already have an account click? <a class="text-primary" id="loginlink"
                                    href="/displaylogin">here</a> to log in</p>

                        </div>
                        <div class="col-md-6">
                            <label for="password"></label>
                            <input type="password" class="form-control" placeholder="Password *" name="password"
                                value="" />

                            <label for="password2"></label>
                            <input type="password" class="form-control" placeholder="Confirm Password *"
                                name="password2" value="" />

                            <div class="form-group">
                            </div>

                            <input type="submit" class="btnRegister" value="Register" />
                        </div>
                    </div>
                </form>
            </div> --}}
        </div>
        </form>
    </div>
</div>
</div>
